* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    background-color: #add8e6;

}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 20%;
    border: 2px dashed black;
    background-color: #d9a521;
    text-align: center;
    ;

}

.link {
    width: 60%;
    border: 2px dashed black;
    background-color: #d9a521;
    text-align: center;
}

.login {
    border: 2px dashed black;
    background-color: #d9a521;
    width: 20%;
    text-align: center;
}
.button{
     width: 20%;
    border: 2px dashed black;
    background-color: #d9a521;
    text-align: center;
}

/*BANNER*/
.banner {
    display: flex;
    background-color: blue;
    justify-content: center;
    border-bottom: 5px solid #add8e6;
    /*   padding: 30px; */
}

.pink-card,
.blue-card {
    border: 2px dashed black;
    background-color: pink;
    width: 600px;
    height: 300px;
    margin: 30px;
    }

.blue-card {
    background-color: blue;
}
/*WHITE CONTENT*/
.white-content {
    width: 100%;
    margin: 0 auto;
}

.white-container {
    display: flex;
    margin: 40px;
    padding: 50px 0; 
}

.w-70 {
    width: 70%;
    margin: 0
}

.w-30 {
    width: 30%;
    margin: 0;
}
/*GREY CONTENT*/
.grey-content {
    background-color: grey;
    width: 100%;
    margin-top: 40px;
}

.grey-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 95%;
    margin: 0 auto; 
    padding: 50px 0
}

/*GREEN CONTENT*/
.green-content{
   background-color: grey;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content:center;
}

.green-container{
  background-color: green;
  width: 80%;
  height:700px;
  margin:40px;
  border: 2px dashed black 
  
}

/*FOOTER*/
footer{
  background-color: #23272a
}

.stretch-section{
  padding:5px 200px;
  display:flex;
  align-items:stretch
}
.salmon {
    background-color: salmon;
    height: 400px;
    width:50%;
    border: 2px dashed black
}

.green{
    background-color: lightseagreen;
    flex-grow: 1;
  flex-basis: calc((100% / 12) * 4);
  border:2px dashed white;
}

/*BUTTON*/
.button-container{
  width:100%;
  height:50px;
  background-color:aqua;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo-pink, .button{
  background-color: salmon;
  border: 1px dashed black;
  padding:5px
}
